{% extends 'base.html' %}
{% load static %}
{% block content %}
	<form action="{% url 'autores' %}" method="post" accept-charset="utf-8">
		{%csrf_token%}<!--medida de seguridad-->
		{{form.as_p}}
		<input type="submit" name="" value="Guardar">
	</form>
	{{nombres}}

	<h1>Autores del Blog</h1>
	<ul>
		{% for autor in autores %}
			<li>{{autor}} 
				<a href="{% url 'edit_autor' autor.id_autor %}">Editar</a>
				<a href="{% url 'delete_autor' autor.id_autor %}">Eliminar</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
{% block footer %}
	<p>I am a footer</p>
{% endblock %}